{# 
# Header partial
#
# - Gets included in base.html
# - You can override the markup within the {% block header %} and {% endblock %} by extending it.
# - You can extend the header partial by using {% extends 'header.html' %} at the top of your file.
# - Calling {{ parent() }} at the top of your extension will output the contents within this files block into your extension.
# 
-#}

<header id="site-header">
    {% block header %}
        {% embed '_partials/site-nav' %}{% endembed %}
        <figure class="site-header__logo-container">
            <a class="site-header__logo" href="{{ siteUrl }}"></a>
        </figure>
    {% endblock %}
</header>